<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lunch Check</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src ="angular.js"></script>
    <script src="app.js"></script>
    <!-- <style src="app.css"></style> -->
</head>
<body ng-controller="LunchCheckController">
    <p style="margin-left:548px;">Module 1 Solution</p>
    <div  ng-controller="LunchCheckController" style="margin:61px 22px 81px 479px;">
    <p>Please enter your lunch values comma separated</p>
    <input type="text" ng-model="inputValue" style="margin-left: 46px;">
    <button ng-click="submit()">Submit</button>
    </div>
    
</body>
</html>